#portada {
  background-image: url("fondo.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px;
}

h1 {
  font-size: 4em;
  margin-top: 0;
}

p {
  font-size: 1.5em;
  margin-bottom: 0;
}
