body {
    background-color: black;
  }

  #p1 {
    display: block;
    margin: 0 auto;
  }

#b1{
position:absolute;
top:800px;
left:950px;
font-size: 16px;
padding: 10px 20px;
background-color:#0d6efd;
border: 2px solid white;
color:white;
}
